<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to Text Analyzer. Enter Your Text Below</h1>

<form action="/analyzer" method="get">
    <textarea name="text" style="width: 1384px; height: 362px;"></textarea>
    <br><br>
    <input type="checkbox" name="removepunc">Remove Punctuations<br>
    <input type="checkbox" name="removenewline">Remove New Line<br>
    <input type="checkbox" name="removeextraspace">Remove Extra Space<br>
    <input type="checkbox" name="capsall">Capitalize First<br>
    <input type="checkbox" name="charcount">Character Count
    <br><br>
    <button type="submit">Analyze Text</button>

</form>

</body>
</html>